# Spark & Delta auto-downloaded garbage
.jdk/
.ivy2/
*.tar.gz
warehouse/
metastore_db/
/chk

# Data
/data

# Spark checkpoints logs
**/_spark_metadata/
**/_delta_log/

# Python environments
bigdata/
venv/
.env

# System files
*.log
.DS_Store
Thumbs.db
